/* Circles */
.event-list > li .event-date .event-date-treatment > span
{
	background: #;
}

/* Active Week View Days */
.upto-calendar.week thead tr th span.day.active {
	border-color: #;
}

/* Name and Location Hover in List View */
.event-list > li .days-events .event:hover > div > div.details a > span.name, .event-list > li .days-events .event:hover > div > div.details a > span.location { color: #; }






